body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

textarea {
    min-width: 70%;
    min-height: 250px;
}

select, input {
    max-width: 300px;
}

@media screen and (min-width: 768px) {
    .modal-dialog {
        width: 80%;
    }
}

.parametersHill input {
    max-width: 60px;
}

.parametersRSA input {
    max-width: 100px;
}