@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Home Page";
}

<form class="form-horizontal" name="form">
    <div class="form-group">
        <textarea name="txtarea" style="max-width: none" rows="10" cols="60" placeholder="Enter a text" ng-model="filetxt"></textarea>
    </div>
    
    <input id="id_fileloader" type="file" nv-file-select uploader="uploader">
    <br />
    @*<ul>
        <li ng-repeat="item in uploader.queue">
            Name: <span ng-bind="item.file.name"></span><br />
            <button ng-click="item.upload()">upload</button>
        </li>
    </ul>*@

    <div class="form-group">
        <div class="btn btn-primary" ng-click="clear()"><span class="glyphicon glyphicon-trash"></span> Clear</div>
        <div class="btn btn-primary" ng-click="upload()"><span class="glyphicon glyphicon-upload"></span> Upload</div>
        <div class="btn btn-primary" ng-click="spectrum()"> Calculate</div>
    </div>

</form>