@using Microsoft.Ajax.Utilities
@{
    ViewBag.Title = "Home Page";
}

<form class="form-horizontal" name="form">
    <!-- Modal Spectrum-->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Spectrum</h4>
                </div>
                <div class="modal-body">
                    <p>Chars : {{chars}}</p>
                    <p>Letters : {{letters}}</p>

                    <canvas id="chart" width="400" height="150"></canvas>
                    <br/><br />
                    <table class="table">
                        <tr>
                            <td ng-repeat="item in spectrum track by $index">{{$index}}</td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in spectrumStore.AlphabetTmp track by $index">{{item}}</td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in spectrum track by $index">{{item}}</td>
                        </tr>
                        <tr>
                            <td ng-repeat="item in spectrum track by $index">{{(item*100)/letters | number:1}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    

    <!-- txt -->
    <div class="form-group">
        <textarea name="txtarea" class="form-control" placeholder="Enter a text" ng-model="filetxt" readonly></textarea>
    </div>
    
    <input id="id_fileloader" type="file" nv-file-select uploader="uploader">
    <br/>

    <!-- Buttons -->
    <div class="form-group">
        <div class="btn btn-primary" ng-click="clear()">
            <span class="glyphicon glyphicon-trash"></span> Clear
        </div>
        <div class="btn btn-primary" ng-click="upload()">
            <span class="glyphicon glyphicon-upload"></span> Upload
        </div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" ng-click="spectrum()" data-toggle="modal" data-target=".bs-example-modal-lg">
            <span class="glyphicon glyphicon-signal"></span> 
            Spectrum
        </button>
    </div>
    
    <div class="form-group">
        <label for="selectMethod">Encryption method :</label>
        <select id="selectMethod" class="form-control" ng-model="selectMethod" ng-change="changeMethod()">
            <option selected value="1">Афинный метод</option>
            <option value="2">Битовая перестановка</option>
            <option value="3">Шифр Виженера</option>
            <option value="4">Метод Хилла</option>
        </select> 
    </div>
    
    <!-- Affine param -->
    <div class="parametersAffine">
        <div class="form-group form-inline">
            <label>A : </label>
            <input id="affine_a"type="text" class="form-control" placeholder="Key a" ng-model="affineA" ng-change="checkAffineA()" onkeyup="return proverkaInt(this);">
        </div>
        <div class="form-group form-inline">
            <label>B : </label>
            <input id="affine_b" type="text" class="form-control" placeholder="Key b" ng-model="affineB" ng-change="checkAffineB()" onkeyup="return proverkaInt(this);">
        </div>
    </div>
    
    <!-- Bit param -->
    <div class="parametersBit">
        <div class="form-group form-inline">
            <label>Bit #1 : </label>
            <input id="bit1" type="text" class="form-control" placeholder="Bit" ng-model="bit1" ng-change="checBit()" onkeyup="return proverkaInt(this);">
        </div>
        <div class="form-group form-inline">
            <label>Bit #2 : </label>
            <input id="bit2" type="text" class="form-control" placeholder="Bit" ng-model="bit2" ng-change="checBit()" onkeyup="return proverkaInt(this);">
        </div>
    </div>
    
    <!-- Vigenere param -->
    <div class="parametersVigenere">
        <div class="form-group form-inline">
            <label>Key : </label>
            <input id="vigenereKey" type="text" class="form-control" placeholder="key" ng-model="vigenereKey">
        </div>
    </div>
    
    <!-- Hill param -->
    <div class="parametersHill">
        <div class="form-group form-inline">
            <label>Key (2x2): </label><br />
            <input id="hill01" type="text" class="form-control"  ng-model="hill01"  onkeyup="return proverkaInt(this);">
            <input id="hill02" type="text" class="form-control" ng-model="hill02" onkeyup="return proverkaInt(this);">
            <br/>
            <input id="hill03" type="text" class="form-control" ng-model="hill03" onkeyup="return proverkaInt(this);">
            <input id="hill04" type="text" class="form-control" ng-model="hill04" onkeyup="return proverkaInt(this);">
        </div>
    </div>
    
    <!-- Crypting btns -->
    <div class="form-group">
        <div class="btn btn-primary" ng-click="encrypt()">
            <span class="glyphicon glyphicon-eye-close"></span> Encrypt
        </div>
        <div class="btn btn-primary" ng-click="decrypt()">
            <span class="glyphicon glyphicon-eye-open"></span> Decrypt
        </div>
    </div>
    
    <!-- Output txt -->
    <div class="form-group">
        <label>Name of file : </label><span ng-model="outputfilename">{{outputfilename}}</span>
        <textarea class="form-control" placeholder="Output text" ng-model="outputtxt" readonly></textarea>
    </div>
    
    <div class="form-group">
        <a href="/Files/{{outputfilename}}" download>
            <div class="btn btn-primary">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save file on disk
            </div>
        </a>
    </div>

</form>